@import "default.css";

.post {
    margin: auto;
    padding: 1.5%;
    max-width: var(--max-width);

    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-color-highlight);
    border-radius: 4px;

    background-color: var(--bg-color-posts);
}